/* button.participants-section-container__buttom-button.btn.btn-default.btn-sm {
  pointer-events: none !important;
  opacity: 0.5 !important;
  cursor: not-allowed !important;
} */


body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif !important;
   -webkit-overflow-scrolling: touch; 

}

video::-webkit-media-controls-fullscreen-button {
  display: none !important;
}

video::-moz-fullscreen-button {
  display: none !important;
}